.git
.github
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/ssh/*
!storage/ssh/.gitkeep
storage/demo-dbs/*
storage/demo-template.sqlite
bootstrap/cache/*.php
database/*.sqlite
.env
.env.*
!.env.example
tests
docker/logs
.ai
public/hot
public/build
